<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/templates/crud-tradicional/plantilla.html::head">
    <title>Listar Usuarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4" th:text="${tituloPag}">Listar Usuarios</h1>
        <p class="lead">LISTADO DE LOS USUARIOS</p>
        <a href="/inicio" class="btn btn-primary">Regresar al inicio</a>


    </div>

    <a href="/crud-simple-usuario/crear" class="btn btn-primary">NUEVO USUARIO</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Nombre</th>
            <th scope="col">Es Administrador</th>
            <th scope="col">Es Autor</th>
            <th scope="col">ACCIONES</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${lista}">
            <td th:text="${usuario.username}">Username</td>
            <td th:text="${usuario.nombre}">Nombre</td>
            <td th:text="${usuario.admintrator ? 'Si' : 'No'}">Es Administrador</td>
            <td th:text="${usuario.autor ? 'Si' : 'No'}">Es Autor</td>
            <td>
                <a th:text="Editar" th:href="'editar/'+${usuario.username}" class="btn btn-secondary btn-sm"/>
                <a th:text="Eliminar" th:href="'eliminar/'+${usuario.username}" class="btn btn-danger btn-sm"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Incluyendo la parte de JavaScript del template -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
